/*#sidebar {*/
/*    opacity: 0;*/
/*    transform: translateY(-20px);*/
/*    transition: opacity 0.3s ease, transform 0.3s ease;*/
/*}*/

/*animation pour la fermeture*/
#sidebar.closed {
    opacity: 0;
    transform: translateY(-20px);
}

.bg-sidebar {
    background-color: rgba(22, 28, 36, 0.8);
}